<?xml version="1.0" encoding="utf-8"?>
<settings>
    <setting propertyKey="@Properties.DemoMode" title="@Strings.SettingDemoMode">
        <settingConfig type="boolean"/>
    </setting>
    <setting propertyKey="@Properties.ServerUrl" title="@Strings.SettingServerUrl">
        <settingConfig type="alphaNumeric" maxLength="120"/>
    </setting>
    <setting propertyKey="@Properties.AccessClientId" title="@Strings.SettingAccessId">
        <settingConfig type="alphaNumeric" maxLength="120"/>
    </setting>
    <setting propertyKey="@Properties.AccessClientSecret" title="@Strings.SettingAccessSecret">
        <settingConfig type="alphaNumeric" maxLength="120"/>
    </setting>
</settings>
